In [1]:
# dependencies
import pandas as pd

# name CSVs to import
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# read CSVs into pandas
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)

In [2]:
# view raw school table
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# view raw student table
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# merge data into single dataset
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
# create array of unique school names
unq_school = merged_df['school_name'].unique()
# get the length of the array
school_count = len(unq_school)

# student count 
stu_count = student_df['student_name'].count()

# double check with district students
dist_students = school_df['size'].sum()

# total budget for all schools
total_budget = school_df['budget'].sum()

# average math score
avg_math = merged_df['math_score'].mean()

# average reading score
avg_reading = merged_df['reading_score'].mean()

# percent of students passing math (70 or greater)
math_num = merged_df.loc[merged_df['math_score']>= 70]['student_name'].count()
math_prcnt = math_num/stu_count*100

# percent of students passing reading (70 or greater)
reading_num = merged_df.loc[merged_df['reading_score']>= 70]['student_name'].count()
reading_prcnt = reading_num/stu_count*100

# percent of students with overall passing grades (70 or greater in both math & reading)
passing_num = merged_df.loc[(merged_df['math_score']>= 70) & (merged_df['reading_score'] >= 70)]['student_name'].count()
passing_prcnt = passing_num/stu_count*100


# display summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [stu_count],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": [math_prcnt],
    "% Passing Reading": [reading_prcnt],
    "% Overall Passing": [passing_prcnt]    
})

# format and display
district_summary.style.format({
    "Total Students" : "{:,}",
    "Total Budget": "${:,}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## School Summary

In [6]:
# use groupby to sort data into fields by school name and run calcluations
by_school = merged_df.set_index('school_name').groupby(['school_name'])
sch_type = school_df.set_index('school_name')['type']
stu_total = by_school['Student ID'].count()
sch_budget = school_df.set_index('school_name')['budget']
stu_budget = sch_budget/stu_total
sch_avg_math = by_school['math_score'].mean()
sch_avg_rdg = by_school['reading_score'].mean()
sch_math_prcnt = merged_df.loc[merged_df['math_score']>= 70].groupby('school_name')['Student ID'].count()/stu_total*100
sch_reading_prcnt = merged_df.loc[merged_df['reading_score']>= 70].groupby('school_name')['Student ID'].count()/stu_total*100
overall_prcnt = merged_df.loc[(merged_df['math_score']>= 70) & (merged_df['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_total*100

# create dataframe to hold results
school_summary = pd.DataFrame({
    "School Type": sch_type,
    "Total Students": stu_total,
    "Total School Budget": sch_budget,
    "Per Student Budget": stu_budget,
    "Average Math Score": sch_avg_math,
    "Average Reading Score": sch_avg_rdg,
    "% Passing Math": sch_math_prcnt,
    "% Passing Reading": sch_reading_prcnt,
    "% Overall Passing": overall_prcnt
})

# format and display
school_summary.style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"
})

In [7]:
school_summary.dtypes

School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

## Top Performing Schools (By % Overall Passing)

In [8]:
top_5 = school_summary.sort_values('% Overall Passing', ascending = False)

top_5.head(5).style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## Bottom Performing Schools (By % Overall Passing)

In [9]:
bottom_5 = school_summary.sort_values('% Overall Passing', ascending = True)
bottom_5.head(5).style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## Math Scores by Grade

In [10]:
# create values for math score by grade

ninth_math = merged_df.loc[merged_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math = merged_df.loc[merged_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math = merged_df.loc[merged_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math = merged_df.loc[merged_df['grade'] == '12th'].groupby('school_name')['math_score'].mean()

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_math,
    "10th": tenth_math,
    "11th": eleventh_math,
    "12th": twelfth_math
})

math_scores_by_grade.index.name = "School"

math_scores_by_grade.style.format({
    "9th": "{:.2f}%",
    "10th": "{:.2f}%",
    "11th": "{:.2f}%",
    "12th": "{:.2f}"
})

## Reading Scores by Grade

In [11]:
# create values for reading score by grade

ninth_read = merged_df.loc[merged_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_read = merged_df.loc[merged_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_read = merged_df.loc[merged_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_read = merged_df.loc[merged_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_read,
    "10th": tenth_read,
    "11th": eleventh_read,
    "12th": twelfth_read
})

reading_scores_by_grade.index.name = "School"

reading_scores_by_grade.style.format({
    "9th": "{:.2f}%",
    "10th": "{:.2f}%",
    "11th": "{:.2f}%",
    "12th": "{:.2f}%"
})

## Scores by School Spending

In [12]:
# create bins & group labels
bins = [0, 584, 629, 644, 680]
budget_labels = ['<$585', '$585-630', '$630-645', '$645-680']

# slice the data and insert the series as a 
school_summary["spend_bins"] = pd.cut(school_summary["Per Student Budget"], bins, labels=budget_labels)

by_spend = school_summary.groupby("spend_bins")

sp_avg_math = by_spend['Average Math Score'].mean()
sp_avg_rdg = by_spend['Average Reading Score'].mean()
sp_math_prcnt = by_spend['% Passing Math'].mean()
sp_reading_prcnt = by_spend['% Passing Reading'].mean()
sp_overall = by_spend['% Overall Passing'].mean()

spend_df = pd.DataFrame({
    "Average Math Score": sp_avg_math,
    "Average Reading Score": sp_avg_rdg,
    "% Passing Math": sp_math_prcnt,
    "% Passing Reading": sp_reading_prcnt,
    "% Overall Passing": sp_overall    
})

spend_df.index.name = "Spending Ranges (Per Student)"
spend_df = spend_df.reindex(budget_labels)

spend_df.style.format({
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"
})

## Scores by School Size

In [13]:
# create bins & group labels
bins = [0, 999, 1999, 5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

# slice the data and insert the series as a 
school_summary["School Size"] = pd.cut(school_summary["Total Students"], bins, labels=size_labels)

by_size = school_summary.groupby("School Size")

sz_avg_math = by_size['Average Math Score'].mean()
sz_avg_rdg = by_size['Average Reading Score'].mean()
sz_math_prcnt = by_size['% Passing Math'].mean()
sz_reading_prcnt = by_size['% Passing Reading'].mean()
sz_overall = by_size['% Overall Passing'].mean()

size_df = pd.DataFrame({
    "Average Math Score": sz_avg_math,
    "Average Reading Score": sz_avg_rdg,
    "% Passing Math": sz_math_prcnt,
    "% Passing Reading": sz_reading_prcnt,
    "% Overall Passing": sz_overall    
})

size_df.index.name = "School Size"
size_df = size_df.reindex(size_labels)

size_df.style.format({
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"
})

## Scores by School Type

In [14]:
by_type = school_summary.groupby("School Type")

t_avg_math = by_type['Average Math Score'].mean()
t_avg_rdg = by_type['Average Reading Score'].mean()
t_math_prcnt = by_type['% Passing Math'].mean()
t_reading_prcnt = by_type['% Passing Reading'].mean()
t_overall = by_type['% Overall Passing'].mean()

type_df = pd.DataFrame({
    "Average Math Score": t_avg_math,
    "Average Reading Score": t_avg_rdg,
    "% Passing Math": t_math_prcnt,
    "% Passing Reading": t_reading_prcnt,
    "% Overall Passing": t_overall    
})

type_df.index.name = "School Type"

type_df.style.format({
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"
})