In [1]:
# dependencies
import pandas as pd
import numpy as np
import os

# name CSVs to import
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# read CSVs into pandas
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)

In [2]:
# view raw school table
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# view raw student table
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# merge data into single dataset
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [15]:
# create array of unique school names
unq_school = merged_df['school_name'].unique()
# get the length of the array
school_count = len(unq_school)

# student count 
stu_count = student_df['student_name'].count()

# double check with district students
dist_students = school_df['size'].sum()

# total budget for all schools
total_budget = school_df['budget'].sum()

# average math score
avg_math = merged_df['math_score'].mean()

# average reading score
avg_reading = merged_df['reading_score'].mean()

# percent of students passing math (70 or greater)
math_num = merged_df.loc[merged_df['math_score']>= 70]['student_name'].count()
math_prcnt = math_num/stu_count*100

# percent of students passing reading (70 or greater)
reading_num = merged_df.loc[merged_df['reading_score']>= 70]['student_name'].count()
reading_prcnt = reading_num/stu_count*100

# percent of students with overall passing grades (70 or greater in both math & reading)
passing_num = merged_df.loc[(merged_df['math_score']>= 70) & (merged_df['reading_score'] >= 70)]['student_name'].count()
passing_prcnt = passing_num/stu_count*100


# display summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [stu_count],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": [math_prcnt],
    "% Passing Reading": [reading_prcnt],
    "% Overall Passing": [passing_prcnt]    
})

# format and display
district_summary.style.format({
    "Total Students" : "{:,}",
    "Total Budget": "${:,}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## School Summary

In [6]:
# use groupby to sort data into fields by school name and run calcluations
by_school = merged_df.set_index('school_name').groupby(['school_name'])
sch_type = school_df.set_index('school_name')['type']
stu_total = by_school['Student ID'].count()
sch_budget = school_df.set_index('school_name')['budget']
stu_budget = sch_budget/stu_total
sch_avg_math = by_school['math_score'].mean()
sch_avg_rdg = by_school['reading_score'].mean()
sch_math_prcnt = merged_df.loc[merged_df['math_score']>= 70].groupby('school_name')['Student ID'].count()/stu_total*100
sch_reading_prcnt = merged_df.loc[merged_df['reading_score']>= 70].groupby('school_name')['Student ID'].count()/stu_total*100
overall_prcnt = merged_df.loc[(merged_df['math_score']>= 70) & (merged_df['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_total*100

# create dataframe to hold results
school_summary = pd.DataFrame({
    "School Type": sch_type,
    "Total Students": stu_total,
    "Total School Budget": sch_budget,
    "Per Student Budget": stu_budget,
    "Average Math Score": sch_avg_math,
    "Average Reading Score": sch_avg_rdg,
    "% Passing Math": sch_math_prcnt,
    "% Passing Reading": sch_reading_prcnt,
    "% Overall Passing": overall_prcnt
})

# format and display
school_summary.style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

In [7]:
school_summary.dtypes

School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

## Top Performing Schools (By % Overall Passing)

In [18]:
top_5 = school_summary.sort_values('% Overall Passing', ascending = False)

top_5.head(5).style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## Bottom Performing Schools (By % Overall Passing)

In [19]:
bottom_5 = school_summary.sort_values('% Overall Passing', ascending = True)
bottom_5.head(5).style.format({
    "Total Students" : "{:,}",
    "Total School Budget": "${:,}",
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.2f}%", 
    'Average Reading Score': "{:.2f}%",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%", 
    "% Overall Passing": "{:.2f}%"})

## Math Scores by Grade

In [20]:
# create values for math score by grade

ninth_math = merged_df.loc[merged_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math = merged_df.loc[merged_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math = merged_df.loc[merged_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math = merged_df.loc[merged_df['grade'] == '12th'].groupby('school_name')['math_score'].mean()

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_math,
    "10th": tenth_math,
    "11th": eleventh_math,
    "12th": twelfth_math
})

math_scores_by_grade.index.name = "School"

math_scores_by_grade.style.format({
    "9th": "{:.2f}%",
    "10th": "{:.2f}%",
    "11th": "{:.2f}%",
    "12th": "{:.2f}"
})

## Reading Scores by Grade

In [23]:
# create values for reading score by grade

ninth_read = merged_df.loc[merged_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_read = merged_df.loc[merged_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_read = merged_df.loc[merged_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_read = merged_df.loc[merged_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_read,
    "10th": tenth_read,
    "11th": eleventh_read,
    "12th": twelfth_read
})

reading_scores_by_grade.index.name = "School"

reading_scores_by_grade.style.format({
    "9th": "{:.2f}%",
    "10th": "{:.2f}%",
    "11th": "{:.2f}%",
    "12th": "{:.2f}%"
})

## Scores by School Spending

In [26]:
bins = [0, 584, 629, 644, 680]
budget_labels = ['<$585', '$585-630', '$630-645', '$645-680']

school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels=budget_labels)

# school_summary.style.format({
#     "Total Students" : "{:,}",
#     "Total School Budget": "${:,}",
#     "Per Student Budget": "${:.0f}",
#     'Average Math Score': "{:.2f}%", 
#     'Average Reading Score': "{:.2f}%",
#     "% Passing Math": "{:.2f}%",
#     "% Passing Reading": "{:.2f}%", 
#     "% Overall Passing": "{:.2f}%"})

In [29]:
spend_group = school_summary.groupby("Spending Ranges (Per Student)")

spend_group[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [31]:
type(spend_group)

pandas.core.groupby.generic.DataFrameGroupBy